.header {
  padding: 0.9375rem 1.5rem;
//   border: 1px solid red;

  .nav__overlay{
    width: 100%;
    height: 100vh;
    // display: none;
    position: absolute;
    background-image: linear-gradient(to bottom, $darkBlue, transparent);
    top: 56px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    // visibility: hidden;
    // transition: visibility 300ms ease-in-out;
    // animation: fade-out 300ms ease-in-out forwards;

    // &.fade-in{
      //  animation: fade-in 300ms ease-in-out forwards;
      // display: block;
      // visibility: visible;
      // opacity: 1;
    // }
  }
  nav {
    background: $white;
  }
  &__logo {
    img {
    }
  }

  &__toggle {
    width: 26px;
    height: 26px;
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background: $darkBlue;
      transform-origin: 3px center;
      transition: all 300ms ease-in-out;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
      // background-image: linear-gradient(to right, $limeGreen, $brightCyan);
    }
    &.open {
      // .header__toggle{
      // background: #000;
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        // opacity: 0;
        transform: translateX(-100%);
        // transform: matrix(-4, -5.5, 0, 10, 11, 6);;
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }
  &__links {
    a {
      position: relative;
    //   font-size: $font-sm;
      color: $grayishBlue;
      transition: color 300ms ease-in-out;
      &:not(:last-child) {
        margin-right: 1.625rem;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 5px;
        //   width: 100%;
        // top: 0;
        left: 0;
        right: 0;
        bottom: -30px;
        background-image: linear-gradient(to right, $limeGreen, $brightCyan);
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }

      &:hover {
        color: $darkBlue;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  .button {
    background-image: linear-gradient(to right, $limeGreen, $brightCyan);
  }
}
